@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@model Market.Models.User
@{
    ViewData["Title"] = "Index";
}
<section class="vh-100" style="background-color:hsl(0, 0%, 96%) ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">@localizer["Sign in"]</h3>
                        <form asp-action="Index" class="mx-1 mx-md-4">
                        <div class="form-outline mb-4">
                            <input asp-for="UserName" placeholder="@localizer["UserName"]" id="typeEmailX-2" class="form-control form-control-lg" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input asp-for="Password"  placeholder="@localizer["Password"]" id="typePasswordX-2" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">@localizer["Login"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>